/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


/* General Styles */

p {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    /* font-size, color, letter-spacing, text-transform, margin-bottom */
}

h1 {
     /* font-family, font-style, font-size, color  */
}

body {
    background-color:  hsl(0, 0%, 100%);
    height: 100vh;
}

hr {
    width: 80%;
    background-color: hsl(0, 0%, 86%);
    border: none;
    height: 1px; 
    margin-top: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 100px;
    margin: 0 auto;  /* For centering the container */
    margin-top: 75px;
    width: 60%;  /* For centering the container */
    justify-content: center;  /* For centering the container */
}

/* Nav Section */
nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.nav-bar {
    text-decoration: none;
    justify-self: center;
    color: hsl(219, 9%, 45%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

.nav-links {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(5, 80px);
}

.nav-icons {
    display: grid;
    margin-left: 350px;
    grid-template-columns: 50px 50px;
    column-gap: 30px;
    align-items: center;
}

#profile {
    width: 50px;
}

/* Lightbox Modal Image Section */
/* TODO Add an overlay for the background when the modal is clicked on and opened */

/* Featured product image */
#main-img {
    width: 400px;
    border-radius: 10px;  
}

/* Images used to open lightbox */
.thumbnail-img {
    margin-top: 25px;
    width: 80px;
    border-radius: 10px; 
    margin-right: 23px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: hsl(0, 0%, 0%, 0.75); /* adds a semi-transparent black color to the modal background */    
}

/* Modal Content */
.modal-content {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-content: center;
}

.mySlides img {
    width: 500px;
    border-radius: 10px; 
}

.img-controls {
    margin-left: 55px;
    display: grid;
    grid-template-columns: repeat(4, 110px);
}

/* The Close Button */
/* TODO Use the fill property to change the color to orange when the button is active */
.close {
    position: relative;
    position: fixed;
    top: 10%;
    left: 65%;
    width: 20px;
    filter: brightness(0) invert(1);  /* Change color of close icon */
}
  
/* .close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
} */

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev-btn, .next-btn {
    position: absolute;
    top: 400px;
    background-color: hsl(0, 0%, 100%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;  /* Make buttons circular */
}

.next-btn {
    left: 970px;
}

.prev-btn {
    right: 970px;
}

.prev, .next {
    justify-self: center;
    align-self: center;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */

/* .active,
.demo:hover {
  opacity: 1;
} */

/* img.hover-shadow {
  transition: 0.3s;
} */

/* .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* Add to cart section */
#cart-icon {
    filter: brightness(0) invert(1);  /* Change color of cart icon */
}

/* Media Queries */

/* TODO Make it responsive for tablet devices */
/* TODO Test it on multiple screen sizes using Responsively or another app */